<div class="w-full h-screen flex items-center justify-center">
  <form class="flex flex-col w-1/2 gap-2" (ngSubmit)="signup()">
    <div class="flex flex-row justify-between items-center">
      <label for="name">Username:</label>
      <input class="border-black border w-1/2 p-1" type="text" id="name" [(ngModel)]="signupData.username" name="name" required>
    </div>
    <div class="flex flex-row justify-between items-center">
      <label for="password">Password:</label>
      <input class="border-black border w-1/2 p-1" type="password" id="password" [(ngModel)]="signupData.password" name="password" required>
    </div>
    <button class="p-4 bg-black text-white shadow-lg hover:shadow-2xl rounded-lg" type="submit">Sign Up</button>
    <button ibmButton type="submit">Sign Up</button>
  </form>
</div>
